<%= stylesheet_link_tag 'result' %>
<div class="container">
  <h2><span>結果発表！</span></h2>
  <h3>8問中、あなたの正解数は<%= @result %>問だったよ。</h3>
  <p>
  <% if @result.nil? || @result <= 3 %>
    <%= "【ぶっちゃけカナダのことメープルシロップとナイアガラの滝ぐらいしか知らないでしょ？】" %>
  <% elsif @result <= 6 %>
    <%= "【なかなかの知識！もっとカナダについて知ってもらえると嬉しいです！】" %>
  <% elsif @result <= 8 %>
    <%= "【すごい！貴方カナダ人かカナダに住んでた？】" %>
  <% end %>
  </p>
  <%= link_to "結果を共有する", "https://twitter.com/intent/tweet?text=私の正解数は#{@result}問でした！&url=https://mini-quiz.onrender.com, title: 'Twitter', target: "_blank", class:'fab fa-twitter' %></br>
  <%= link_to "もう一度挑戦する", root_path, class: 'btn btn-success' %></br>
  <%= link_to "解答を見る", correct_answer_path, class: 'btn btn-danger' %></br>